html, body {
  margin: 0;
  padding: 0;
  font-family: "Oxygen";
}

.grid-container {
  margin: 0;
  padding: 0;
}

#course-form {
  margin-left: 10px;
}
.yui3-widget-hd {
  font-weight: bold;
}

.btn-group {
  padding-right: 100px;
}


#course-form input{
  font-size: 12pt;
  padding: 5px;
}

.closebtn {
  width: 75px;
}

button {
  width: 75px;
}
.grid-container .nav {
  padding-bottom: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  margin-top: 0px;
  grid-area: nav;
  border-bottom: 1px solid black;
  display: inline-grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "logo search home profile options";
  background-color: white;
  color: #071350;
  text-align: center;
}
#logo {
  position: absolute;
  left: 2%;
  height: 50px;
  top: 1%;
}
.logo { 
  grid-area: logo;
  display: inline-grid;
}
.search {
  grid-area: search;
}
.home {
  grid-area: home;
}
.profile {
  grid-area: profile;
}


.grid-container .header {
  grid-area: header;
  background-color: white;
  color: black;
  font-size: 18pt;
  padding-left: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.grid-container .footer {
  grid-area: footer;
  text-align: center;
  background-color: white;
  height: 100%;
}
.grid-container {
  display:inline-grid;
  vertical-align: middle;
  margin-top: 30px;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 6% 94%;
  grid-template-areas:
    "nav"
    "footer"
}
.add {    
  height:30px;
  grid-area: options;
}
.add img{
  border: 1px solid lightgrey;
  padding: 2px;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 2px 5px grey;
  position: absolute;
  right: 2%;
  height: 50px;
  top: 1%;
}

.add img:hover {
  box-shadow: 1px 1px 3px royalblue;
  
}

.col-xs-5 {
  display: none;
}
  
  .schedule {
            height: 100%; 
            width: 0; 
            position: fixed; 
            z-index: 2; 
            top: 0; 
            left: 0;
            opacity: .9;
            background-color: #FFF;
            overflow-x: hidden; 
            overflow-y: hidden;
            transition: 0.5s; 
            text-align: center;
          }
          .schedule .closebtn {
            opacity: 1;
            position: absolute;
            top: 0px;
            right: 0px;
            font-size: 20px;
            color: black;
          }
          .schedule a{
              text-decoration: none;
          }
          input {
            width: 70%;
            opacity: 1;
            margin: 1px 1px;
            margin-top: 10px;
            border: 1px solid lightgrey;
            font-size: 5pt;
            box-sizing:border-box;
          }
          img{
              opacity: 1;
              height: 25px;
              }

          @media only screen and (max-width: 600px) {
            
            .grid-container .nav {
                padding-top: 2%;
            }
            
            .grid-container {
              display:inline-grid;
              vertical-align: middle;
              margin-top: 30px;
              height: 100vh;
              width: 100%;
              grid-template-columns: 1fr;
              grid-template-rows: 1% 97%;
              grid-template-areas:
                "nav"
                "footer"
            }
            
            .sidenav {padding-top: 15px;
              }
            .sidenav a {font-size: 200px;
              }
              img{ height: 100px;
              }
              .schedule .closebtn{
                  font-size: 150px;
                  right: 2%;
              }
              input{
                  margin-top: 20px;
                  font-size: 50pt;
              }
              #addCourse{
              background-color: lightskyblue;
              font-size: 12pt;
              width: 5%;
              margin-right: 5%;
              margin-top: 5%;
              }
            #clear{
              background-color: lightskyblue;
              font-size: 12pt;
              width: 5%;
              margin-right: 5%;
              margin-top: 5%;
              }
              input[type=date] {
              }
          }